// Import files

@import 'vars';


body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: $gray;

}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}


// Import blocks

@import './blocks/container';
@import './blocks/header';
@import './blocks/nav';
@import './blocks/intro';
@import './blocks/btn';
@import './blocks/services';
@import './blocks/aboutme';
@import './blocks/skills';
@import './blocks/provide';
@import './blocks/portfolio';
@import './blocks/projects';
@import './blocks/blog';
@import './blocks/reviews';
@import './blocks/partners';
@import './blocks/contact';
@import './blocks/form';
@import './blocks/footer';
@import './blocks/burger';

.hide {
    display: none;
}