.aboutme {
    padding: 100px 0;
    position: relative;
    z-index: 1;

    &:before {
        content: "";
        background: url("../images/figure2.svg") no-repeat;
        position: absolute;
        top: 500px;
        right: 0;
        left: 1150px;
        bottom: 0;
        z-index: -1;

    }

    &::after {
        content: "";
        position: absolute;
        background-color: $black;
        height: 100%;
        width: 24%;
        max-width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }


    @media (max-width: $mobile-sm) {
        &::before,
        &::after {
            display: none;
        }

        padding: 0 0 70px;
    }


}

.aboutme__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mobile-sm) {
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

.aboutme__content {
    width: 51.28%;

    @media (max-width: $mobile-sm) {
        width: 100%;
        order: 1;
    }

} 

.aboutme__title {
    color: $black;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
}

.aboutme__text {
    margin-bottom: 35px;
}

.aboutme__links {
    display: flex;
    align-items: center;
    justify-content: left;
}

.aboutme__more {
    display: inline-block;
    margin-left: 6px;
    font-size: 15px;
    color: $black;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}