.nav {
    display: flex;
    height: 1000%;
    align-items: center;

    @media (max-width: $mobile) {
        display: none;
        position: absolute;
        height: auto;
        padding: 1rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        top: 100%;
        right: 0;
        z-index: 1000;
        width: 100%;
        background-color: #fff;
        text-align: center;

        &.show {
            display: flex;
            
        }
}

}

.nav__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 8px;
    margin-left: 25px;

    &:last-child {
        margin-left: 0;
    }

    &:hover {
        border-top: 1px dashed white;
    }
}