.nav {
    display: flex;
    height: 1000%;
    align-items: center;

    @media (max-width: $mobile) {
        display: none;
        position: absolute;
        height: auto;
        padding: 1rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        top: 100%;
        right: 0;
        z-index: 1000;
        width: 100%;
        background-color: $black;
        text-align: center;

        &.show {
            display: flex;
            flex-wrap: wrap;
        }
}

}

.nav__link {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 8px;
    margin-left: 25px;

    &:hover {
        border-top: 1px dashed white;
    }

    &.active {
        border-top: 1px dashed white;
    }

    @media (max-width: $mobile) {
        width: 100%;

        &:hover {
            border-top: none;
        }

        &.active {
            border-top: none;
            color: #ffa801;
        }
    }
}