.projects {
    padding: 140px 0;
}

.projects__head {
    text-align: center;
    max-width: 570px;
    margin: 0 auto;
}

.projects__head__title {
    color: $black;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.projects__head__text {
    font-size: 18px;
    line-height: 1.65;

}