.provide {
    padding: 100px 0 150px;
    position: relative;

    &:after {
        content: "";
        background: url("../images/figure3.svg") no-repeat;
        position: absolute;
        top: 228px;
        right: 0;
        left: 1724px;
        bottom: 0;
        z-index: -1;

    }

    @media (max-width: $mobile) {
        padding: 70px 0 120px;
    }

    @media (max-width: $mobile-sm) {
        padding: 50px;
    }
}

.provide__content {
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;

    @media (max-width: $mobile-sm) {
        margin-bottom: 40px;
    }
}

.provide__title {
    font-size: 30px;
    font-weight: 500;
    color: $black;
    margin-bottom: 30px;

    @media (max-width: $mobile-sm) {
        margin-bottom: 15px;
    }
}

.provide__text {
    font-size: 16px;
    color: $black;
    line-height: 1.65;
}

.provide__services {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $mobile) {
        justify-content: center;
    }
}

.provide__services__item {
    width: 30%;
    text-align: center;
    box-shadow: 0px 0px 9px 0px rgba(73, 73, 73, 0.4);
    padding: 30px;
    margin: 15px;

    transition: background-color .2s linear, color .2s linear;

    &:hover {

        background-color: $black;

        .provide__services__item__logo {
            color: #cacaca;
        }

        .provide__services__item__title {
            color: #cacaca;
        }

        .provide__services__item__text {
            color: #dcdcdc;
        }
    }

    @media (max-width: $mobile-sm) {
        width: 100%;
    }

}

.provide__services__item__logo {
    font-size: 35px;
    color: #333;
}

.provide__services__item__title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: $black;
    padding-top: 22px;
    padding-bottom: 32px;
    text-decoration: none;
}

.provide__services__item__text {
    font-size: 16px;
    line-height: 1.6;
}