.reviews {
    background-color: $black;
    padding: 180px 0;

    @media (max-width: $mobile) {
        padding: 130px 0;
    }

    @media (max-width: $mobile-sm) {
        padding: 80px 0;
    }
}

.reviews__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mobile-sm) {
        flex-wrap: wrap;
    }
}

.reviews__head {
    max-width: 35.6410%;
    width: 100%;

    @media (max-width: $mobile-sm) {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

.reviews__title {
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;

    @media (max-width: $mobile-sm) {
        margin-bottom: 20px;
    }
}

.reviews__text {
    line-height: 1.65;
}

.reviews__reviews {
    max-width: 48.71%;

    @media (max-width: $mobile-sm) {
        max-width: 100%;
    }
}

.reviews__item {
    background-color: white;
    padding: 60px;
    border-radius: 25px;
}

.reviews__item__container {
    max-width: 431px;
    width: 100%;
    margin: 0 auto;
}

.reviews__item__head {
    line-height: 1.65;
    text-align: center;
    margin-bottom: 15px;
}

.reviews__item__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews__item__name {
    color: $black;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}